.footer {
  * {
    color: var(--text1);
    line-height: 1.5rem;
  }

  background-color: var(--surface2);
  display: flex;
  flex-direction: column;
  padding: 1.25rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;


    @media (min-width: 768px) {
      text-align: left;
    }

    h3 {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__col {
    flex: 1;
    padding: 1rem;
    padding-top: 0;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    h4 {
      margin: 0;
      text-transform: capitalize;
      position: relative;
      font-size: 1.125rem;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--text1);
        bottom: -0.5rem;
        left: 0;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 1rem;
      font-size: 0.875rem;
    }

    a {
      text-decoration: none;
    }
  }
}
