.hero {
  &__container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 768px) {
      //   flex-direction: column;
    }
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--text1);
    border-bottom: none;

    &-large {
      font-size: 3rem;

      @media (max-width: 768px) {
        font-size: 2.5rem;
      }

      @media (max-width: 480px) {
        font-size: 2rem;
      }
    }

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.75rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 1rem;
    }

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }

  &__image {
    // width: 70%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      display: none;
    }
  }

  &__cta {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  }

  &__button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
      font-size: 1rem;
    }

    &--primary {
      background-color: var(--brand);
      color: var(--text1-inverse);
    }

    &--secondary {
      background-color: var(--surface1);
      color: var(--text1);
      border: 1px solid var(--text1);
    }
  }
}

.section-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem 0;

  @media (max-width: 768px) {
    padding: 1rem;
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    border-bottom: none;
    color: var(--brand);

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
}

.home {
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  ul {
    list-style: circle;
    line-height: 1.5rem;
    padding-left: 2rem;
    a {
      text-decoration: none;
      color: var(--text2);
      &:visited {
        color: var(--text2);
      }

      &:hover {
        color: var(--text1);
      }
    }
  }
}

.sub-projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  .sub-project {
    border: 1px solid var(--text1);
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &__title {
      color: var(--text1);
      text-align: center;
      margin: 0;
      // margin-bottom: 1rem;
    }

    &__description {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      display: -webkit-box;
      line-clamp: 7;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 768px) {
        font-size: 0.875rem;
      }
    }

    &__button {
      margin-top: 0.5rem;
      margin-left: auto;
      background-color: transparent;
      border: 1px solid var(--text1);
      padding: 0.5rem;
      text-decoration: none;
      color: var(--text1);
    }
  }
}

.links-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--text1);
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--text2);
    cursor: pointer;

    &:hover {
      color: var(--text1);
    }

    &__icon {
      font-size: 2rem;
    }

    &__title {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.getting-involved {
  &__wrapper {
    display: flex;
    gap: 1rem;
  }

  .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    &__link {
      text-decoration: none;
      color: var(--text1);
      font-size: 3rem;
      color: var(--text2);
      opacity: 0.75;
      transition: all 0.3s ease;

      &:hover {
        color: var(--text1);
        opacity: 1;
      }
    }
  }
}
