.navbar {
  background-color: var(--surface2);
  border-bottom: 1px solid var(--text2);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--text1);
    max-width: 1000px;
    margin: auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 40px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 100%;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  &__toggle {
    display: none;
    background: none;
    color: var(--text2);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;

    &:hover {
      color: var(--text1);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    margin-left: auto;

    a {
      color: var(--text2);
      text-decoration: none;
      padding: 0.5rem;

      &:hover {
        color: var(--text1);
      }
    }
  }

  @media (max-width: 768px) {
    &__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #e5e5e5;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;
    }

    &__toggle {
      display: block;
    }

    &__menu.active {
      transform: translateY(0);
    }
  }

  &__theme-toggle-button {
    background: none;
    color: var(--text2);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      color: var(--text1);
    }
  }
}
