*,
*::before
*::after {
    box-sizing: border-box;
}

// remove default spacing
* {
  margin: 0;
  padding: 0;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

// responsive images & videos
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}