* {
  --brand-light: #ce6300;
  --text1-light: #000000;
  --text2-light: #333333;
  --surface1-light: #ffffff;
  --surface2-light: #f5f5f5;

  --brand-dark: #de9853;
  --text1-dark: #ffffff;
  --text2-dark: #cccccc;
  --surface1-dark: #161212;
  --surface2-dark: #272424;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text1-inverse: var(--text1-dark);
  --text2-inverse: var(--text2-dark);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  //   --surface-shadow: var(--surface-shadow-light);
  //   --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* set dark mode */
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text1-inverse: var(--text1-light);
    --text2-inverse: var(--text2-light);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text1-inverse: var(--text1-dark);
  --text2-inverse: var(--text2-dark);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --text1-inverse: var(--text1-dark);
  --text2-inverse: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
}
