{{ define "main" }} {{/* {{ .Content }} {{ range site.RegularPages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .Summary }} {{ end }} */}}

<div class="home">
  <section class="hero section-container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          {{/* <span class="hero__title-large">The LLVM</span><br />
          Compiler Infrastructure */}} {{.Site.Title}}
        </h1>
        <p class="hero__subtitle">{{.Site.Params.subtitle}}</p>
        <div class="hero__cta">
          {{ range first 2 .Site.Params.hero_section_buttons}}
          <a href="{{ .url }}" class="hero__button hero__button--{{ .type }}"
            >{{ .title }}</a
          >
          {{ end }}
        </div>
      </div>

      {{ if .Site.Params.logo }}
      <div class="hero__image">
        <img src="{{ .Site.Params.logo | relURL }}" alt="hero">
      </div>
      {{ end }}
    </div>
  </section>

  <section class="section-container">
    <div class="links-wrapper">
      {{ range first 4 .Site.Params.hero_section_links }}
      <a class="link" href="{{ .url }}">
        <div class="link__icon">
          <i class="{{ .icon }}"></i>
        </div>
        <p class="link__title">{{ .title }}</p>
      </a>
      {{ end }}
    </div>
  </section>

  {{ .Content }}

  {{/*  <section class="section-container getting-involved">
    <h2>Getting Involved</h2>
    <div class="getting-involved__wrapper">
      <p style="margin-top: 0">
        As much as everything else, LLVM has a broad and friendly community of
        people who are interested in building great low-level tools. If you are
        interested in getting involved, a good first place is to skim the LLVM
        Blog and join LLVM Discourse. For information on how to send in a patch,
        get commit access, and copyright and license topics, please see the LLVM
        Developer Policy.
      </p>
      <div class="socials">
        <a href="#" class="socials__link">
          <i class="ri-github-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-community-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-discord-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-slack-fill"></i>
        </a>
      </div>
    </div>
  </section>  */}}

</div>

{{ end }}
