{{ define "main" }} {{/* {{ .Content }} {{ range site.RegularPages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .Summary }} {{ end }} */}}

<div class="home">
<section class="hero section-container">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__title-large">The LLVM</span><br />
        Compiler Infrastructure
      </h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus
        leo eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu
        at risus.
      </p>
      <div class="hero__cta">
        <a href="#" class="hero__button hero__button--primary">Get Started</a>
        <a href="#" class="hero__button hero__button--secondary">Releases</a>
      </div>
    </div>

    <div class="hero__image">
      <img src="{{ "images/logo.png" | relURL }}" alt="hero">
    </div>
  </div>
</section>


<section class="section-container">
  <div class="links-wrapper">
    <div class="link">
      <div class="link__icon">
        <i class="ri-hashtag"></i>
      </div>

      <p class="link__title">Latest Release</p>
    </div>
    <div class="link">
      <div class="link__icon">
        <i class="ri-play-large-line"></i>
      </div>

      <p class="link__title">Get Started</p>
    </div>
    <div class="link">
      <div class="link__icon">
        <i class="ri-book-open-line"></i>
      </div>

      <p class="link__title">Read the Docs</p>
    </div>
    <div class="link">
      <div class="link__icon">
        <i class="ri-projector-line"></i>
      </div>

      <p class="link__title">Explore subprojects</p>
    </div>
  </div>
</section>

<section class="section-container">
  <h2>What is LLVM?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus leo
    eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu at
    risus. Cras suscipit, lorem eu varius mattis, libero nulla blandit neque, ac
    varius augue quam sit amet diam. Proin semper magna diam, non consectetur
    eros pharetra vel. Nunc ut placerat sem, in iaculis ante. Curabitur viverra
    tincidunt gravida. Phasellus tempor viverra mauris, vel elementum nisi
    aliquam malesuada. Curabitur in nunc eu leo vulputate convallis at quis est.
  </p>
</section>


<section class="section-container">
  <h2>Sub Projects</h2>
  <div class="sub-projects-wrapper">
    <div class="sub-project">
      <h3 class="sub-project__title">Clang</h3>
      <p class="sub-project__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus
        leo eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu
      </p>
      <button class="sub-project__button">Learn More</button>
    </div>
    <div class="sub-project">
      <h3 class="sub-project__title">Clang</h3>
      <p class="sub-project__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus
        leo eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu
      </p>
      <button class="sub-project__button">Learn More</button>
    </div>
    <div class="sub-project">
      <h3 class="sub-project__title">Clang</h3>
      <p class="sub-project__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus
        leo eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu
      </p>
      <button class="sub-project__button">Learn More</button>
    </div>
    <div class="sub-project">
      <h3 class="sub-project__title">Clang</h3>
      <p class="sub-project__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus
        leo eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu
      </p>
      <button class="sub-project__button">Learn More</button>
    </div>
  </div>
</section>

<section class="section-container">
  <h2>Getting Involved</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus leo
    eget tempor faucibus. Nunc vitae elit at enim ultrices hendrerit eu at
    risus. Cras suscipit, lorem eu varius mattis, libero nulla blandit neque, ac
    varius augue quam sit amet diam. Proin semper magna diam, non consectetur
    eros pharetra vel. Nunc ut placerat sem, in iaculis ante. Curabitur viverra
    tincidunt gravida. Phasellus tempor viverra mauris, vel elementum nisi
    aliquam malesuada. Curabitur in nunc eu leo vulputate convallis at quis est.
    Sed pulvinar nunc tellus, a condimentum ante ullamcorper ac. Vivamus sit
  </p>
</section>

<div class="home__row section-container">
  <section class="">
    <h2>Developer Resources</h2>
    <p>
      <ul>
        <li><a href="/">Doxygen</a></li>
        <li><a href="/">Sources (GitHub)</a></li>
        <li><a href="/">Code Review</a></li>
        <li><a href="/">Bug Tracker</a></li>
        <li><a href="/">Green Dragon</a></li>
        <li><a href="/">LNT</a></li>
        <li><a href="/">Scan Build</a></li>
        <li><a href="/">llvm-cov</a></li>
        <li><a href="/">Compile-time tracker</a></li>
      </ul>
    </p>
  </section>

  <section class="">
    <h2>Upcoming events</h2>
    <p>
      <ul>
        <li><a href="/">April 9-11, 2024 - EuroLLVM Dev Mtg</a></li>
      </ul>
    </p>
  </section>
</div>
</div>

{{ end }}
