{{ define "main" }} {{/* {{ .Content }} {{ range site.RegularPages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .Summary }} {{ end }} */}}

<div class="home">
  <section class="hero section-container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">
          <span class="hero__title-large">The LLVM</span><br />
          Compiler Infrastructure
        </h1>
        <p class="hero__subtitle">
          The LLVM Project is a collection of modular and reusable compiler and
          toolchain technologies. Despite its name, LLVM has little to do with
          traditional virtual machines. The name "LLVM" itself is not an
          acronym; it is the full name of the project.
        </p>
        <div class="hero__cta">
          <a href="#" class="hero__button hero__button--primary">Get Started</a>
          <a href="#" class="hero__button hero__button--secondary">Releases</a>
        </div>
      </div>

      <div class="hero__image">
        <img src="{{ "images/logo.png" | relURL }}" alt="hero">
      </div>
    </div>
  </section>

  <section class="section-container">
    <div class="links-wrapper">
      <div class="link">
        <div class="link__icon">
          <i class="ri-hashtag"></i>
        </div>

        <p class="link__title">Latest Release</p>
      </div>
      <div class="link">
        <div class="link__icon">
          <i class="ri-play-large-line"></i>
        </div>

        <p class="link__title">Get Started</p>
      </div>
      <div class="link">
        <div class="link__icon">
          <i class="ri-book-open-line"></i>
        </div>

        <p class="link__title">Read the Docs</p>
      </div>
      <div class="link">
        <div class="link__icon">
          <i class="ri-projector-line"></i>
        </div>

        <p class="link__title">Explore subprojects</p>
      </div>
    </div>
  </section>

  <section class="section-container">
    <h2>What is LLVM?</h2>
    <p>
      LLVM began as a research project at the University of Illinois, with the
      goal of providing a modern, SSA-based compilation strategy capable of
      supporting both static and dynamic compilation of arbitrary programming
      languages. Since then, LLVM has grown to be an umbrella project consisting
      of a number of subprojects, many of which are being used in production by
      a wide variety of commercial and open source projects as well as being
      widely used in academic research. Code in the LLVM project is licensed
      under the "Apache 2.0 License with LLVM exceptions"
    </p>
  </section>

  {{ $subprojects := .Site.Data.subprojects.subprojects }} {{/* TODO: subproject
  height constant & truncate description after certain length */}}
  <section class="section-container">
    <h2>Sub Projects</h2>
    <div class="sub-projects-wrapper">
      {{ range $subprojects}}
      <div class="sub-project">
        <h3 class="sub-project__title">{{ .name }}</h3>
        <p class="sub-project__description">{{ .description }}</p>
        <a class="sub-project__button" href="{{ .url }}">Learn More</a>
      </div>
      {{ end }}
    </div>
  </section>

  <section class="section-container getting-involved">
    <h2>Getting Involved</h2>
    <div class="getting-involved__wrapper">
      <p>
        As much as everything else, LLVM has a broad and friendly community of
        people who are interested in building great low-level tools. If you are
        interested in getting involved, a good first place is to skim the LLVM
        Blog and join LLVM Discourse. For information on how to send in a patch,
        get commit access, and copyright and license topics, please see the LLVM
        Developer Policy.
      </p>
      <div class="socials">
        <a href="#" class="socials__link">
          <i class="ri-github-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-community-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-discord-fill"></i>
        </a>
        <a href="#" class="socials__link">
          <i class="ri-slack-fill"></i>
        </a>
      </div>
    </div>
  </section>

  <div class="home__row section-container">
    {{ $resources := .Site.Data.developer_resources.developer_resources }}

    <section class="">
      <h2>Developer Resources</h2>
      <ul>
        {{ range $resources }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </section>
    {{ $events := .Site.Data.upcoming_events.upcoming_events }}

    <section class="">
      <h2>Upcoming events</h2>
      <ul>
        {{ range $events }}
        <li>
          <a href="/"
            >{{ .start_date | dateFormat "January 2-11, 2006" }} - {{ .name
            }}</a
          >
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
</div>

{{ end }}
