<footer class="footer">
  <div class="container footer__container">
    <div class="footer__title">
      <h3>{{ .Site.Params.footer.title }}</h3>
    </div>
    <div class="footer__col-wrapper">
      {{ range .Site.Params.footer.columns }}
        <div class="footer__col">
          <h4>{{ .title }}</h4>
          <ul>
            {{ range .links }}
              <li><a href="{{ .url }}">{{ .text }}</a></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
</footer>